<div class="row my-4">
    <div class="col-md my-2">
       <a href="/work/{{id}}"><img class="thumbnailImg" src="/assets/img/{{gif}}" alt="gif of {{title}}"></a>
    </div>
<div class="card col-md my-2 ">
  <div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <p class="card-text">{{caption}}</p>
        <ul class="list-inline">
            {{#each tech}}
                <li class="list-inline-item py-1"><span class="btn-light btn-sm">{{this}}</span></li>
            {{/each}}
        </ul>
    <a href="/work/{{id}}" class="card-link projectLink">View Project</a>
  </div>
</div>
</div>